build --incompatible_enable_cc_toolchain_resolution --platforms=:stm32g474
test --incompatible_enable_cc_toolchain_resolution --copt=-std=c++17 --platforms=
run --incompatible_enable_cc_toolchain_resolution --copt=-std=c++17 --platforms=