build --incompatible_enable_cc_toolchain_resolution --features=dump_memory_stats --features=newlib.nano --copt=-Wno-volatile
test --incompatible_enable_cc_toolchain_resolution --copt=-std=c++17 --platforms=
run --incompatible_enable_cc_toolchain_resolution --copt=-std=c++17 --platforms=